name: CI

on:
  push:
  pull_request:

permissions:
  contents: read

concurrency:
  group: ci-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: vivarium-ai/certifiable-github/.github/workflows/ci.yml@master
    with:
      build-target: certifiable-inference
